.cover {
  min-height: 740px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 92px 0 0 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../images/cover-trains.jpg);
}

@media screen and (min-width:1280px) {
  .cover {
    padding: 0 48px 0 48px;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 1024px) and (max-width:1279px) {
  .cover {
    min-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width:1023px) {
  .cover {
    min-height: 480px;
    margin-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-height: 200px;
    margin-top: 66px;
    background-size: contain;
    background-position-x: center;
  }
}
