.lead__caption {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 0;
  padding: 0;
}

@media screen and (max-width:767px) {
  .lead__caption {
    padding-left: 16px;
    box-sizing: border-box;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .lead__caption {
    padding-left: 24px;
    box-sizing: border-box;
  }
}
